<h1>បញ្ចូលផ្នែកអាជីវកម្មថ្មី</h1>

<%= form_for(@category)  do |f|%>
	<div class="field">
		<%= f.label :name %> <br />
		<%= f.text_field :name %>		
	</div>
	<div class="field">
		<%= f.label :description %> <br />
		<%= f.text_field :description %>		
	</div>
	<div class="action">
		<%= f.submit "Save" %>
	</div>
<%end%>