<% title "Locations" %>

<h1>ទីតាំងអាជីវកម្ម</h1>

<table>
  <tr>
    <th>ឈ្មោះ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>    
    <td><%= link_to 'បង្ហាញ', location %></td>
    <td><%= link_to 'កែប្រែ', edit_location_path(location) %></td>
    <td><%= link_to 'លុប', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div class="paginate">
<%= will_paginate @locations %>
</div>
<p><%= link_to "បន្ថែមទីតាំងអាជីវកម្ម", new_location_path %></p>
